        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
        }
        
        *::selection {
            background: #000;
            color: red;
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
        }
        
        body {
            background-color: #f7f7f7;
        }
        
        .nav {
            height: 10vh;
            width: 100%;
            /* background: #997070; */
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            z-index: 90;
        }
        
        .nav .part1 {
            /* height: 82px; */
            /* background: red; */
            /* display: flex; */
            height: 84px;
            overflow: hidden;
            /* transform: translate(-100%); */
        }
        
        .nav .part1 svg {
            display: block;
        }
        
        .nav .part2 {
            width: 30%;
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* background: blue; */
        }
        
        .nav .links {
            /* text-transform: uppercase; */
            display: flex;
            /* font-weight: 500; */
            /* text-decoration: none; */
            /* margin-left: 45px; */
            width: 100%;
            height: 80%;
            justify-content: space-around;
            align-items: center;
        }
        
        .nav .links a {
            text-decoration: none;
            color: #333;
            text-transform: uppercase;
            margin-left: 45px;
        }
        
        .nav .icons {
            display: flex;
            width: 20vw;
            box-shadow: 12px solid #000;
            background-color: rgb(235, 201, 201);
            border-radius: 50px;
            height: 80%;
            margin: 0 20px;
            justify-content: space-around;
            align-items: center;
        }
        
        .cursor {
            position: fixed;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: red;
            transform: translate(-50%, -50%) scale(0);
        }
        
        #page1 {
            min-height: 100vh;
            background: #0000;
            position: relative;
        }
        
        .text {
            height: 100%;
            width: 100%;
            padding: 15px 12px;
            font-size: 14vw;
            text-transform: uppercase;
            line-height: 15vw;
            line-height: -8;
            /* overflow: hidden; */
        }
        
        #video-container {
            height: 100vh;
            width: 100%;
        }
        
        #video-container video {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        
        .play {
            background: black;
            font-size: 1.5vw;
            color: white;
            padding: 3vw 2vw;
            position: fixed;
            opacity: 0;
            scale: 0;
            border-radius: 50%;
        }
        
        #page2 {
            height: 100vh;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #page2 .elem {
            width: 31%;
            height: 100%;
            overflow: hidden;
            padding: 1rem;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
        }
        
        .elem img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
        
        .elem .dets {
            background-color: rgb(235, 13, 13);
            width: 70%;
            height: 60px;
            border-radius: 50px;
            opacity: 50%;
            position: absolute;
            z-index: 9;
        }
        
        .dets :hover {
            width: 70%;
            height: 163px;
            border-radius: 50px;
            opacity: 50%;
            position: absolute;
            z-index: 9;
        }
        
        #page3 {
            height: 100vh;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
        
        #page3 .box {
            height: 50vh;
            width: 38vw;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .box img {
            height: 50%;
        }